.App {
  position: relative;
  background-color: #d7c9c6;
}

.favorite-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 11px;
  position: absolute;
  top: -6px;
  right: 0;
  height: 30px;
  width: 30px;
  color: rgb(252, 163, 17);
  z-index: 9;
  border: 1px solid transparent;
  background-image: url("https://i.ibb.co/PW6PYTM/icons8-heart-30.png");
  background-repeat: no-repeat;
}


.active{
  content: "";
  background-image: url("https://i.ibb.co/rF6DxKY/icons8-heart-30-1.png");
  background-repeat: no-repeat;

}
